<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Map viewer</title>
    <script type="module" src="/build/esri-ds2022.esm.js"></script>
    <link href="/build/esri-ds2022.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/light/main.css" />
    <style>
      html,
      body,
      #mapDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <esri-ds2022-map-viewer id="mapDiv" />
  </body>
</html>
