<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Label</title>

    <script type="module" src="/build/esri-ds2022.esm.js"></script>
    <link href="/build/esri-ds2022.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/light/main.css" />

    <style>
      html,
      body,
      #mapDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }

      #arcgisPanel {
        position: absolute;
        bottom: 20px;
        right: 0px;
        height: 95%;
        width: 20vw;
        margin: 10px;
        background-color: var(--arcgis-app-background-transparent);
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;
      }
    </style>

    <script type="module">
      import WebMap from "https://js.arcgis.com/4.22/@arcgis/core/WebMap.js";
      import MapView from "https://js.arcgis.com/4.22/@arcgis/core/views/MapView.js";
      import FeatureLayer from "https://js.arcgis.com/4.22/@arcgis/core/layers/FeatureLayer.js";
      const map = new WebMap({
        basemap: "satellite"
      });
      const mapView = new MapView({
        container: "mapDiv",
        map: map
      });
      const featureLayer = new FeatureLayer({
        url: "https://services.arcgis.com/OUDgwkiMsqiL8Tvp/arcgis/rest/services/USAShapeFolders/FeatureServer/2"
      });
      map.add(featureLayer);
      featureLayer
        .when(() => {
          const configureLabel = document.createElement("esri-ds2022-label");
          configureLabel.layer = featureLayer;
          configureLabel.mapView = mapView;
          document.getElementById("arcgisPanel").appendChild(configureLabel);
          return featureLayer.queryExtent();
        })
        .then((response) => {
          mapView.goTo(response.extent);
        });
    </script>
  </head>

  <body>
    <div id="mapDiv"></div>
    <div id="arcgisPanel"></div>
  </body>
</html>
